<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <h2>
        <img src="{{url_for('static',filename='images/1.jpg')}}" alt="头像" class="avatar">
        {{ user.name }}'s watchlist</h2> -->


<!-- 过滤器 变量| -->

{% extends 'base.html'%} {% block content %}
<p>总共{{movies|length}}个</p>
<!-- index.html 提交到index位置  -->
{% if current_user.is_authenticated%}
<form action="/" method="POST">
    <!-- 不能为空 required  autocomplete="off" 关闭input框的信息 自动填充-->
    电影名称: <input type="text" name="movie_name" autocomplete="off" required> 电影年份: <input type="text" name="movie_year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="添加电影信息">
</form>
{% endif %}

<ul class="movie-list">
    {% for movies in movies %}
    <li>{{movies.title}} - {{movies.year}}
        <span class="float-right"> 
            <a  class='baidu'href="http://v.baidu.com/v?word={{ movies.title }}&ct=301989888&rn=67&pn=0&db=0&s=0&fbl=800&ie=utf-8" target="_blank" title="在百度视频中查找">百度视频</a>
            
        </span> {% if current_user.is_authenticated%}
        <span class="float-right">
            <a class="btn" href="{{url_for('edit',movie_id=movies.id) }}">编辑</a>
        </span> {% endif %} {% if current_user.is_authenticated%}
        <span class="float-right">
            <form action="{{ url_for('delete',movie_id=movies.id)}}" method="POST">
                <input type="submit" class="delete" name="delete" value="删除" onclick="return confirm('是否删除')">
            </form>
        </span> {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}

<!-- <footer>
        <small>&copy;2020<a href="#">1901电影列表</a></small>
    </footer> -->
</body>

</html>